/*
    Haojie Zheng
    Haojie_zheng@student.uml.edu
    08/15/2021
*/

body{
    background-color:bisque;
}

#line{
    height: 100px;
    min-width: 1080px;
    background-image:url("Scrabble_Board_OneLine.png");
    background-size: contain; 
    background-repeat: no-repeat;
}

.holderbackground{
    margin: auto;
    width: 640px;
    height: 182px;
    background-image: url("scrabble-tile-holder-406774_640.png");
}
#scrabble-tile-holder{
    margin-top: 40px;
    text-align: center;
}
.tile{
    width: 60px;
    height: 60px;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: cover;
}
